<div class="jumbotron jumbotron-fluid bg-secondary text-white">
  <div class="mx-5">
  <h1 class="display-1">Shrink your links!!!</h1>
  <p class="lead">A simple URL shortener to make your life easier!</p>
  <hr class="my-4">

  <%= render 'form', url: @url %>
</div>
</div>

<div class=container>
  <h1>Top 100 visited URLs</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Original</th>
        <th>Short</th>
        <th>Title</th>
        <th>Clicks count</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @urls.each do |url| %>
        <tr>
          <td><%= url.original %></td>
          <td><%= url.short %></td>
          <td><%= url.title %></td>
          <td><%= url.clicks_count %></td>
          <td><%= link_to 'Go to site', url.short %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
